
*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.banner{
    background-image: url("/img/banner\ sistema\ -\ cont4.png.png");
    background-size: cover;
    background-position: center;
    padding: 20rem 0;
}
